.message {
    font-size: 16px;
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.imageAndText {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
}

.imageAndText {
    /*margin-top: 10px;*/
    /*margin-left: 10px;*/
    /*width: 50px;*/
}

.text {
    border: 1px solid #0059b3;
    border-radius: 10px;
    background: #1077dc;
    color: #FFFFFF;
    display: inline-block;
    padding: 5px;
    position: relative;

}

.text:after {

}

.name {

}

.messageText {

}

.time {
    font-size: 10px;
}